In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

#!pip install alpha_vantage
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.fundamentaldata import FundamentalData 
ts = TimeSeries(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')
ti = TechIndicators(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')
fd = FundamentalData(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')

In [2]:
key = 'KSTIKHKXANLCVJ2L'
base_url = "https://www.alphavantage.co/query/"

In [3]:
ticker = 'ZM'

In [4]:
#build out a request
res = requests.get(url=base_url, params={
    "function":"EARNINGS",
    "symbol":f'{ticker}',
    'apikey':key})

In [5]:
res.status_code

200

In [6]:
EPS = res.json()
# _, header = EPS.json()
#df = pd.DataFrame.from_dict(EPS, orient= 'index')_

In [7]:
len(EPS['quarterlyEarnings'])

7

In [8]:
def quarterly_earnings_df(ticker):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    stock = ticker
    res = requests.get(url=base_url, params={
    "function":"EARNINGS",
    "symbol":f'{stock}',
    'apikey':key})
    EPS = res.json()
    #Quarterly
    for i in range(0,len(EPS['quarterlyEarnings'])-1):
        if i==0:
            df = pd.DataFrame.from_dict(EPS['quarterlyEarnings'][i], orient = 'index')
        else:
            df_1 = pd.DataFrame.from_dict(EPS['quarterlyEarnings'][i], orient = 'index')
            df = pd.merge(df, df_1, left_index = True, right_index = True) 
    df = df.transpose()
    df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
    df['reportedDate'] = pd.to_datetime(df['reportedDate'])
    df[['reported_Quarterly_EPS', 'estimated_Quarterly_EPS', 'surprise', 'surprisePercentage']] = df[['reportedEPS', 'estimatedEPS', 'surprise', 'surprisePercentage']].apply(pd.to_numeric)
    df = df.drop(columns = ['estimatedEPS', 'reportedEPS'])
    df = df.set_index('fiscalDateEnding')
    return df

In [9]:
df = quarterly_earnings_df(ticker)

In [10]:
df.head()

,reportedDate,surprise,surprisePercentage,reported_Quarterly_EPS,estimated_Quarterly_EPS
fiscalDateEnding,,,,,
2020-10-31,2020-11-30,0.2296,30.1946,0.99,0.7604
2020-07-31,2020-08-31,0.4662,102.7325,0.92,0.4538
2020-04-30,2020-06-02,0.1015,103.0457,0.20,0.0985
2020-01-31,2020-03-04,0.0789,110.9705,0.15,0.0711
2019-10-31,2019-12-05,0.0589,189.3891,0.09,0.0311

In [11]:
def annual_earnings_df(ticker):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    stock = ticker
    res = requests.get(url=base_url, params={
    "function":"EARNINGS",
    "symbol":f'{stock}',
    'apikey':key})
    EPS = res.json()
    #Annual
    for i in range(0,len(EPS['annualEarnings'])-1):
        if i==0:
            df = pd.DataFrame.from_dict(EPS['annualEarnings'][i], orient = 'index')
        else:
            df_1 = pd.DataFrame.from_dict(EPS['annualEarnings'][i], orient = 'index')
            df = pd.merge(df, df_1, left_index = True, right_index = True)
    df = df.transpose()
    df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
    df[['reported_Annual_EPS']] = df[['reportedEPS']].apply(pd.to_numeric)
    df = df.drop(columns = 'reportedEPS')
    df = df.set_index('fiscalDateEnding')
    return df

In [12]:
df = annual_earnings_df(ticker)
df.head()

                  reported_Annual_EPS
fiscalDateEnding
2020-10-31                       2.11

In [13]:
def all_earnings_df(ticker):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    stock = ticker
    res = requests.get(url=base_url, params={
    "function":"EARNINGS",
    "symbol":f'{stock}',
    'apikey':key})
    EPS = res.json()
    #Quarterly
    for i in range(0,len(EPS['quarterlyEarnings'])-1):
        if i==0:
            df = pd.DataFrame.from_dict(EPS['quarterlyEarnings'][i], orient = 'index')
        else:
            df_1 = pd.DataFrame.from_dict(EPS['quarterlyEarnings'][i], orient = 'index')
            df = pd.merge(df, df_1, left_index = True, right_index = True) 
    df = df.transpose()
    df['fiscalDateEnding'] = pd.to_datetime(df['fiscalDateEnding'])
    df['reportedDate'] = pd.to_datetime(df['reportedDate'])
    df[['reported_Quarterly_EPS', 'estimated_Quarterly_EPS', 'surprise', 'surprisePercentage']] = df[['reportedEPS', 'estimatedEPS', 'surprise', 'surprisePercentage']].apply(pd.to_numeric)
    df = df.drop(columns = ['estimatedEPS', 'reportedEPS'])
    df = df.set_index('fiscalDateEnding')
    
    #Annual 
    res = requests.get(url=base_url, params={
    "function":"EARNINGS",
    "symbol":f'{stock}',
    'apikey':key})
    EPS = res.json()
    #Annual
    for i in range(0,len(EPS['annualEarnings'])-1):
        if i==0:
            dfa = pd.DataFrame.from_dict(EPS['annualEarnings'][i], orient = 'index')
        else:
            dfa_1 = pd.DataFrame.from_dict(EPS['annualEarnings'][i], orient = 'index')
            dfa = pd.merge(dfa, dfa_1, left_index = True, right_index = True)
    dfa = dfa.transpose()
    dfa['fiscalDateEnding'] = pd.to_datetime(dfa['fiscalDateEnding'])
    dfa[['reported_Annual_EPS']] = dfa[['reportedEPS']].apply(pd.to_numeric)
    dfa = dfa.drop(columns = 'reportedEPS')
    dfa = dfa.set_index('fiscalDateEnding')
    
    #merge
    merge = pd.merge(df, dfa, how ='outer', left_index = True, right_index = True)
    return merge

In [14]:
df = all_earnings_df(ticker)

In [17]:
# Get daily stock data
daily, meta_data = ts.get_daily(symbol = ticker, outputsize = 'full')
merge = pd.merge(daily, df, how ='outer', left_index = True, right_index = True)
merge.head()

,1. open,2. high,3. low,4. close,5. volume,reportedDate,surprise,surprisePercentage,reported_Quarterly_EPS,estimated_Quarterly_EPS,reported_Annual_EPS
2019-04-18,65.00,66.000,60.321,62.0,25764659.0,NaT,NaN,NaN,NaN,NaN,NaN
2019-04-22,61.00,68.900,59.940,65.7,9949738.0,NaT,NaN,NaN,NaN,NaN,NaN
2019-04-23,66.87,74.169,65.550,69.0,6786513.0,NaT,NaN,NaN,NaN,NaN,NaN
2019-04-24,71.40,71.500,63.160,63.2,4973529.0,NaT,NaN,NaN,NaN,NaN,NaN
2019-04-25,64.74,66.850,62.600,65.0,3863275.0,NaT,NaN,NaN,NaN,NaN,NaN

In [18]:
#merge.to_csv('data/zm_test.csv')