In [1]:
#!pip install alpha_vantage
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.fundamentaldata import FundamentalData 
ts = TimeSeries(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')
ti = TechIndicators(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')
fd = FundamentalData(key = 'KSTIKHKXANLCVJ2L', output_format = 'pandas', indexing_type = 'date')
key = 'KSTIKHKXANLCVJ2L'
base_url = "https://www.alphavantage.co/query/"

In [2]:
ticker = 'ZM'

In [5]:
data, meta_data = ts.get_daily(symbol = ticker, outputsize = 'full')
data

            1. open  2. high    3. low  4. close   5. volume
date
2021-01-15   397.71  404.440  382.0701    384.53  12799509.0
2021-01-14   371.00  384.950  370.5000    383.24   9310967.0
2021-01-13   360.00  384.230  348.6512    364.63  14056546.0
2021-01-12   333.20  358.900  331.1000    356.81   8890435.0
2021-01-11   344.98  349.960  336.8500    337.71   3360357.0
...             ...      ...       ...       ...         ...
2019-04-25    64.74   66.850   62.6000     65.00   3863275.0
2019-04-24    71.40   71.500   63.1600     63.20   4973529.0
2019-04-23    66.87   74.169   65.5500     69.00   6786513.0
2019-04-22    61.00   68.900   59.9400     65.70   9949738.0
2019-04-18    65.00   66.000   60.3210     62.00  25764659.0

[441 rows x 5 columns]

In [25]:
data, meta_data = ti.get_macd(symbol = ticker, interval= 'daily', series_type= 'close')
data

            MACD_Signal     MACD  MACD_Hist
date
2021-01-14     -17.7866 -13.8078     3.9788
2021-01-13     -18.7813 -17.0673     1.7140
2021-01-12     -19.2098 -19.0846     0.1252
2021-01-11     -19.2411 -20.5856    -1.3445
2021-01-08     -18.9050 -20.2573    -1.3523
...                 ...      ...        ...
2019-06-12       4.4545   6.2068     1.7523
2019-06-11       4.0164   5.2574     1.2410
2019-06-10       3.7061   4.7735     1.0674
2019-06-07       3.4393   3.3605    -0.0787
2019-06-06       3.4589   2.3176    -1.1413

[407 rows x 3 columns]

In [6]:
data, meta_data = fd.get_company_overview(symbol = ticker)
data.columns

Index(['Symbol', 'AssetType', 'Name', 'Description', 'Exchange', 'Currency',
       'Country', 'Sector', 'Industry', 'Address', 'FullTimeEmployees',
       'FiscalYearEnd', 'LatestQuarter', 'MarketCapitalization', 'EBITDA',
       'PERatio', 'PEGRatio', 'BookValue', 'DividendPerShare', 'DividendYield',
       'EPS', 'RevenuePerShareTTM', 'ProfitMargin', 'OperatingMarginTTM',
       'ReturnOnAssetsTTM', 'ReturnOnEquityTTM', 'RevenueTTM',
       'GrossProfitTTM', 'DilutedEPSTTM', 'QuarterlyEarningsGrowthYOY',
       'QuarterlyRevenueGrowthYOY', 'AnalystTargetPrice', 'TrailingPE',
       'ForwardPE', 'PriceToSalesRatioTTM', 'PriceToBookRatio', 'EVToRevenue',
       'EVToEBITDA', 'Beta', '52WeekHigh', '52WeekLow', '50DayMovingAverage',
       '200DayMovingAverage', 'SharesOutstanding', 'SharesFloat',
       'SharesShort', 'SharesShortPriorMonth', 'ShortRatio',
       'ShortPercentOutstanding', 'ShortPercentFloat', 'PercentInsiders',
       'PercentInstitutions', 'ForwardAnnualDividendRate',
       'ForwardAnnualDividendYield', 'PayoutRatio', 'DividendDate',
       'ExDividendDate', 'LastSplitFactor', 'LastSplitDate'],
      dtype='object')

In [8]:
industry = []
industry.append(data['Sector'])
industry

[NaN    Communication Services
 Name: Sector, dtype: object]

TypeError: 'module' object is not subscriptable

In [ ]:
earnings =