In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
key = 'KSTIKHKXANLCVJ2L'
base_url = "https://www.alphavantage.co/query/"

Process to make a dataframe for a ticker

In [9]:
# Create list of parameter dictionaries
def build_params(ticker):
    param_list = [{'EMA_8' : {
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "8",
    "series_type": "high",
    'apikey':key}}, 
 
    {'EMA_21':{
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "21",
    "series_type": "high",
    'apikey':key}}, 
                        
    {'SMA_50':{
    "function":"SMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "50",
    "series_type": "high",
    'apikey':key}},
              
    {'SMA_200':{
    "function":"SMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "200",
    "series_type": "high",
    'apikey':key}}
             
    ]
    return param_list

In [13]:
def get_technicals(stock):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    ticker = stock
    dfs = []
    cols = []
    param_list = build_params(ticker)
    for i in param_list:    
        for k, v in i.items():
            res = requests.get(url=base_url, params = v)
            res_dict = res.json()
            _, header = res.json()
            df = pd.DataFrame.from_dict(res_dict[header], orient= 'index')
            dfs.append(df)
            cols.append(k)
    df = pd.concat(dfs, axis = 1)
    df.columns = cols
    return df

In [17]:
get_technicals('cvna')

               EMA_8    EMA_21    SMA_50   SMA_200
2017-05-09   11.2650       NaN       NaN       NaN
2017-05-10   11.1483       NaN       NaN       NaN
2017-05-11   11.1931       NaN       NaN       NaN
2017-05-12   11.2547       NaN       NaN       NaN
2017-05-15   11.3536       NaN       NaN       NaN
...              ...       ...       ...       ...
2021-01-08  266.3698  262.8285  243.4096  171.9194
2021-01-11  269.2877  264.3441  244.8896  172.9969
2021-01-12  274.4326  266.8983  246.6244  174.1945
2021-01-13  279.0309  269.4644  248.2471  175.3702
2021-01-14  284.2374  272.4640  250.4983  176.5950

[929 rows x 4 columns]

In [1]:
# Get daily stock data
data, meta_data = ts.get_daily(symbol = ticker, outputsize = 'full')
data

NameError: name 'ts' is not defined