In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
key = 'KSTIKHKXANLCVJ2L'
base_url = "https://www.alphavantage.co/query/"

In [3]:
#build out a request
res = requests.get(url=base_url, params={
    "function":"TIME_SERIES_INTRADAY",
    "interval":"5min",
    "symbol":"ZM",
    'apikey':key})

In [4]:
res.status_code

200

In [5]:
intraday = res.json()

In [6]:
res1= requests.get(url=base_url, params={
    "function":"EMA",
    "interval":"daily",
    "symbol":"ZM",
    "time_period": "8",
    "series_type": "high",
    'apikey':key})

In [7]:
res1.status_code

200

In [8]:
ema_dict = res1.json()
#sperate jsono response (stock price data) from the information related to the query
_, header = res1.json()
#create dataframe with timestamp as index 
df = pd.DataFrame.from_dict(ema_dict[header], orient= 'index')

Index(['2019-04-30', '2019-05-01', '2019-05-02', '2019-05-03', '2019-05-06',
       '2019-05-07', '2019-05-08', '2019-05-09', '2019-05-10', '2019-05-13',
       ...
       '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-04',
       '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-11'],
      dtype='object', length=430)

In [11]:
df_cols = [i.split(' ')[1] for i in df.columns]
df.columns = df_cols
df.set_index('timestamp', inplace = True)
print(df)

IndexError: list index out of range

In [84]:
# Create list of parameter dictionaries
ticker = 'ZM'
param_list = [{'EMA_8' : {
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "8",
    "series_type": "high",
    'apikey':key}}, 
 
{'EMA_21':{
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "21",
    "series_type": "high",
    'apikey':key}}, 
                        
{'SMA_50':{
    "function":"SMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "50",
    "series_type": "high",
    'apikey':key}},
              
{'SMA_200':{
    "function":"SMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "200",
    "series_type": "high",
    'apikey':key}}
             
             
             
             
             
             
             
             
             
             ]

In [85]:
for i in param_list:    
    for k, v in i.items():
        print(k)

EMA_8
EMA_21
SMA_50
SMA_200

In [86]:
def get_technicals(ticker):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    dfs = []
    cols = []
    for i in param_list:    
        for k, v in i.items():
            res = requests.get(url=base_url, params = v)
            res_dict = res.json()
            _, header = res.json()
            df = pd.DataFrame.from_dict(res_dict[header], orient= 'index')
            dfs.append(df)
            cols.append(k)
    df = pd.concat(dfs, axis = 1)
    df.columns = cols
    return df

In [87]:
get_technicals('ZM')

               EMA_8    EMA_21    SMA_50   SMA_200
2019-04-30   69.4286       NaN       NaN       NaN
2019-05-01   71.1000       NaN       NaN       NaN
2019-05-02   72.1645       NaN       NaN       NaN
2019-05-03   73.9613       NaN       NaN       NaN
2019-05-06   75.4788       NaN       NaN       NaN
...              ...       ...       ...       ...
2021-01-06  367.1647  389.3176  430.9305  319.7861
2021-01-07  364.3459  386.1505  427.1980  320.7835
2021-01-08  361.1579  382.8641  423.3980  321.7885
2021-01-11  358.6695  379.8729  419.3201  322.8051
2021-01-12  358.7207  377.9662  415.9890  323.8247

[431 rows x 4 columns]

In [35]:
def get_technicals(ticker):
    key = 'KSTIKHKXANLCVJ2L'
    base_url = "https://www.alphavantage.co/query/"
    dfs = []
    #EMA_8
    ema_8 = requests.get(url=base_url, params={
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "8",
    "series_type": "high",
    'apikey':key})
    ema_dict = ema_8.json()
    _, header = ema_8.json()
    df_1 = pd.DataFrame.from_dict(ema_dict[header], orient= 'index')
    dfs.append(df_1)
    
    #EMA_21
    ema_21 = requests.get(url=base_url, params={
    "function":"EMA",
    "interval":"daily",
    "symbol":f'{ticker}',
    "time_period": "21",
    "series_type": "high",
    'apikey':key})
    ema_21_dict = ema_21.json()
    _, header = ema_21.json()
    df_2 = pd.DataFrame.from_dict(ema_21_dict[header], orient= 'index')
    dfs.append(df_2)
    #merge dfs
    df = pd.concat(dfs, axis=1)
    
    #SMA_50
    
    
    
    #SMA_200
    
    
    
    
    
    return df

In [36]:
get_technicals("ZM")

                 EMA       EMA
2019-04-30   69.4286       NaN
2019-05-01   71.1000       NaN
2019-05-02   72.1645       NaN
2019-05-03   73.9613       NaN
2019-05-06   75.4788       NaN
...              ...       ...
2021-01-06  367.1647  389.3176
2021-01-07  364.3459  386.1505
2021-01-08  361.1579  382.8641
2021-01-11  358.6695  379.8729
2021-01-12  358.7207  377.9662

[431 rows x 2 columns]

In [ ]:
- 8d EMA
- 21d EMA
- 50d SMA
- 200d SMA
- EPS - EARNINGS